# PROJECT - 2

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import dateutil.parser

### Getting  information from a movie page

In [2]:
url = 'https://www.boxofficemojo.com/title/tt2488496/?ref_=bo_cso_table_1'
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')
# soup.prettify()

#### Movie Title

In [3]:
soup.find('title').text
title_string = soup.find('title').text
title_string

'Star Wars: Episode VII - The Force Awakens - Box Office Mojo'

In [4]:
title = title_string[:-18]
title

'Star Wars: Episode VII - The Force Awakens'

#### Domestic Gross

In [5]:
soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')

[<span class="money">$936,662,225</span>,
 <span class="money">$1,131,791,908</span>,
 <span class="money">$2,068,454,133</span>]

In [6]:
dom_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[0].text
dom_gross

'$936,662,225'

#### International Gross

In [7]:
intl_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[1].text
intl_gross

'$1,131,791,908'

#### Worldwide Gross

In [8]:
world_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[2].text
world_gross

'$2,068,454,133'

#### Domestic Distributor

In [9]:
soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')

[<span class="money">$247,966,675</span>,
 <span class="money">$245,000,000</span>]

In [14]:
distributor_reggex = re.compile('Distributor')
soup.find(text=distributor_reggex)

'Domestic Distributor'

In [16]:
distr_string = find(text=distributor_reggex).findNext('span').text

NameError: name 'find' is not defined

In [23]:
dist_string = soup.find(text=distributor_reggex).findNext('span').text[:18]
dom_dist = dist_string
dom_dist

'Walt Disney Studio'

#### Domestic Opening Gross

In [24]:
dom_open_gross = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')
domopening_reggex = re.compile('Domestic Open')
soup.find(text=domopening_reggex)

'Domestic Opening'

In [25]:
dom_opening_gross = soup.find(text=domopening_reggex).findNext(class_='money').text
dom_opening_gross

'$247,966,675'

#### Budget

#### Running Time - change func

In [26]:
#runtime_reggex = re.compile('Run')
#rt = soup.find(text=runtime_reggex).findNext('span').text.split()
#runtime_minutes = int(rt[0])*60 + int(rt[2])
#runtime_minutes

In [27]:
#rating_reggex = re.compile('MPAA')
#rating = soup.find(text=rating_reggex).findNext('span').text
#rating

####  Release Month

In [28]:
release_reggex = re.compile('Release Date')
soup.find(text=release_reggex).findNext().text.split()[0]
release_month = soup.find(text=release_reggex).findNext().text.split()[0]
release_month

'December'

#### Get Movie Values

#### Getting findNext object value

In [29]:
def get_movie_value(soup, field_name):
    
    """
    Get a value fro the movie page and take the string attribute of a movie on the page and return
    the value of the next sibling object or None if nothing is found.
    
    """
    obj = soup.find(text=re.compile(field_name))
    if not obj:
        return None
    next_element = obj.findNext()
    
    if next_element:
        return next_element.text
    else:
        return None

In [30]:
dom_open_gross = get_movie_value(soup,'Domestic Open')
print(dom_open_gross)

$247,966,675

In [31]:
runtime = get_movie_value(soup, 'Running')
print(runtime)

2 hr 18 min

In [32]:
rating = get_movie_value(soup, 'MPAA')
print(rating)

PG-13

In [33]:
rel_date = get_movie_value(soup, 'Release Date')
print(rel_date)

December 16, 2015
            (EMEA, APAC)

In [34]:
genres = get_movie_value(soup, 'Genres').split()
genres

['Action', 'Adventure', 'Sci-Fi']

In [35]:
distributor = get_movie_value(soup, 'Distributor')[:35]
distributor

'Walt Disney Studios Motion Pictures'

In [36]:
def money_to_int(moneystring):
    
    """
    replaces the $ sign and removing the comma separator from the money string
    returns the integer value
    """
    
    moneystring = moneystring.replace('$', '').replace(',', '')
    return int(moneystring)

def runtime_to_minutes(runtimestring):
    
    """
    takes runtimestring in _hr_min format and returns it's value in number of minutes
    """
    
    runtime = runtimestring.split()
    try:
        minutes = int(runtime[0]) * 60 + int(runtime[2])
        return minutes
    except:
        return None

def to_date(datestring):
    
    """
    """
    
    date = dateutil.parser.parse(datestring)
    return date

In [38]:
raw_dom_gross = dom_gross
domestic_gross = money_to_int(raw_dom_gross)

raw_intl_gross = intl_gross
international_gross = money_to_int(raw_intl_gross)

raw_world_gross = world_gross
worldwide_gross = money_to_int(raw_world_gross)

raw_opening_gross = dom_opening_gross
domestic_opening_gross = money_to_int(raw_opening_gross)

In [39]:
raw_runtime = get_movie_value(soup, 'Running')
runtime_minutes = runtime_to_minutes(raw_runtime)
runtime_minutes

138

In [40]:
release_month = rel_date.split()[0]
release_month

'December'

#### Genres

In [41]:
#genres_reggex = re.compile('Genres')
#genres = soup.find(text=genres_reggex).findNext('span').text.split()
#genres

In [42]:
headers = ['movie title', 'domestic total gross', 'international total gross','domestic opening gross','runtime (mins)',
           'rating', 'release month', 'genre']

movie_data = []
movie_dict = dict(zip(headers,[title,
                               domestic_gross,
                               international_gross,
                               domestic_opening_gross,
                               runtime_minutes,
                               rating,
                               release_month,
                               genres]))
movie_data.append(movie_dict)
movie_data

[{'movie title': 'Star Wars: Episode VII - The Force Awakens',
  'domestic total gross': 936662225,
  'international total gross': 1131791908,
  'domestic opening gross': 247966675,
  'runtime (mins)': 138,
  'rating': 'PG-13',
  'release month': 'December',
  'genre': ['Action', 'Adventure', 'Sci-Fi']}]

### Getting the lifetime ranking table

In [43]:
url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/'
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')
# print(soup.prettify())

In [44]:
# finding the table
table = soup.find('table')
# table

In [45]:
rows = [row for row in table.find_all('tr')]
rows[1].find_all('td')

[<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank">1</td>,
 <td class="a-text-left mojo-field-type-title"><a class="a-link-normal" href="/title/tt2488496/?ref_=bo_cso_table_1">Star Wars: Episode VII - The Force Awakens</a></td>,
 <td class="a-text-right mojo-field-type-money">$936,662,225</td>,
 <td class="a-text-left mojo-field-type-year"><a class="a-link-normal" href="/year/2015/?ref_=bo_cso_table_1">2015</a></td>]

In [46]:
rows[1].find_all('td')[1].find('a')['href']

'/title/tt2488496/?ref_=bo_cso_table_1'

In [55]:
movies = {}

for row in rows[1:5]:
    items = row.find_all('td')
    link = items[1].find('a')
    title = link.text
    url = link['href']
    movies[title] = [url]+ [i.text for i in items]

movies

{'Star Wars: Episode VII - The Force Awakens': ['/title/tt2488496/?ref_=bo_cso_table_1',
  '1',
  'Star Wars: Episode VII - The Force Awakens',
  '$936,662,225',
  '2015'],
 'Avengers: Endgame': ['/title/tt4154796/?ref_=bo_cso_table_2',
  '2',
  'Avengers: Endgame',
  '$858,373,000',
  '2019'],
 'Avatar': ['/title/tt0499549/?ref_=bo_cso_table_3',
  '3',
  'Avatar',
  '$760,507,625',
  '2009'],
 'Black Panther': ['/title/tt1825683/?ref_=bo_cso_table_4',
  '4',
  'Black Panther',
  '$700,426,566',
  '2018']}

In [56]:
lifetime_movies = pd.DataFrame(movies).T
lifetime_movies.columns = ['link_stub', 'rank', 'title', 'lifetime_gross', 'release_year']
lifetime_movies.head()

,link_stub,rank,title,lifetime_gross,release_year
Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,"$936,662,225",2015
Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,"$858,373,000",2019
Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,"$760,507,625",2009
Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,"$700,426,566",2018

#### Director & Actors

In [57]:
url = 'https://www.boxofficemojo.com/title/tt2488496/credits/?ref_=bo_tt_tab'
response = requests.get(url)
actor_page = response.text
actor_soup = BeautifulSoup(actor_page, 'lxml')

In [58]:
casts = actor_soup.find('table', id = 'principalCast').find_all('a', attrs={'class':'a-link-normal'})
actors = []
for cast in casts:
    cast = cast.text.split('\n')[0]
    actors += [cast]
actors

['Daisy Ridley', 'John Boyega', 'Oscar Isaac', 'Domhnall Gleeson']

In [60]:
def get_movie_dict(link):
    """
    From BoxOfficeMojo link stub, request movie html, parse with BeautifulSoup, and
    collect 
        - title 
        - domestic gross
        - runtime 
        - MPAA rating
        - full release date
    Return information as a dictionary
    
    """
    
    base_url = 'https://www.boxofficemojo.com'
    
    #Create full url to scrape
    url = base_url + link
    
    #Request HTML and parse
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    headers = ['title', 'domestic_gross', 'international_gross', 'domestic_opening_gross',
               'runtime_minutes', 'rating', 'release_month', 'genres', 'actors']
    
    #Get title
    title_string = soup.find('title').text
    title = title_string[:-18]

    #Get domestic gross
    raw_dom_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[0].text
    domestic_gross = money_to_int(raw_dom_gross)
    
    #dom_gross = money_to_int(dom_gross)
    
    #Get international_gross
    raw_intl_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[1].text
    international_gross = money_to_int(raw_intl_gross)
    
    #Get worldwide gross
    raw_world_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[2].text
    worldwide_gross = money_to_int(raw_world_gross)
    
    #Get domestic opening gross
    raw_opening_gross = dom_opening_gross
    domestic_opening_gross = money_to_int(raw_opening_gross)
    
    #Get distributor
    distributor = get_movie_value(soup, 'Distributor')[:18]
    
    #Get runtime
    raw_runtime = get_movie_value(soup, 'Running')
    runtime_minutes = runtime_to_minutes(raw_runtime)
    
    #Get rating
    rating = get_movie_value(soup, 'MPAA')
    
    #Get genres
    genres = get_movie_value(soup, 'Genres').split()
    
    #Get release month
    rel_date = get_movie_value(soup, 'Release Date')
    release_month = rel_date.split()[0]
    
    #Get actors
    casts = actor_soup.find('table', id = 'principalCast').find_all('a', attrs={'class':'a-link-normal'})
    actors = []
    for cast in casts:
        cast = cast.text.split('\n')[0]
        actors += [cast]
    
    #Create movie dictionary and return
    movie_dict = dict(zip(headers, [title,
                                    domestic_gross,
                                    international_gross,
                                    domestic_opening_gross,
                                    runtime_minutes,
                                    rating,
                                    release_month,
                                    genres,
                                    actors]))

    return movie_dict

In [61]:
lifetime_movie_data = []
for link in lifetime_movies.link_stub:
    lifetime_movie_data.append(get_movie_dict(link))

In [62]:
lifetime_movie_data

[{'title': 'Star Wars: Episode VII - The Force Awakens',
  'domestic_gross': 936662225,
  'international_gross': 1131791908,
  'domestic_opening_gross': 247966675,
  'runtime_minutes': 138,
  'rating': 'PG-13',
  'release_month': 'December',
  'genres': ['Action', 'Adventure', 'Sci-Fi'],
  'actors': ['Daisy Ridley',
   'John Boyega',
   'Oscar Isaac',
   'Domhnall Gleeson']},
 {'title': 'Avengers: Endgame',
  'domestic_gross': 858373000,
  'international_gross': 1939427564,
  'domestic_opening_gross': 247966675,
  'runtime_minutes': 181,
  'rating': 'PG-13',
  'release_month': 'April',
  'genres': ['Action', 'Adventure', 'Drama', 'Sci-Fi'],
  'actors': ['Daisy Ridley',
   'John Boyega',
   'Oscar Isaac',
   'Domhnall Gleeson']},
 {'title': 'Avatar',
  'domestic_gross': 760507625,
  'international_gross': 2029931467,
  'domestic_opening_gross': 247966675,
  'runtime_minutes': 162,
  'rating': 'PG-13',
  'release_month': 'December',
  'genres': ['Action', 'Adventure', 'Fantasy', 'Sci-Fi'],
  'actors': ['Daisy Ridley',
   'John Boyega',
   'Oscar Isaac',
   'Domhnall Gleeson']},
 {'title': 'Black Panther',
  'domestic_gross': 700426566,
  'international_gross': 647171407,
  'domestic_opening_gross': 247966675,
  'runtime_minutes': 134,
  'rating': 'PG-13',
  'release_month': 'February',
  'genres': ['Action', 'Adventure', 'Sci-Fi'],
  'actors': ['Daisy Ridley',
   'John Boyega',
   'Oscar Isaac',
   'Domhnall Gleeson']}]

In [63]:
lifetime_movies_info = pd.DataFrame(lifetime_movie_data)
lifetime_movies_info.set_index('title', inplace = True)

In [65]:
lifetime_movies_info

,domestic_gross,international_gross,domestic_opening_gross,runtime_minutes,rating,release_month,genres,actors
title,,,,,,,,
Star Wars: Episode VII - The Force Awakens,936662225,1131791908,247966675,138,PG-13,December,"[Action, Adventure, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."
Avengers: Endgame,858373000,1939427564,247966675,181,PG-13,April,"[Action, Adventure, Drama, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."
Avatar,760507625,2029931467,247966675,162,PG-13,December,"[Action, Adventure, Fantasy, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."
Black Panther,700426566,647171407,247966675,134,PG-13,February,"[Action, Adventure, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."

In [66]:
lifetime_movies = lifetime_movies.merge(lifetime_movies_info, left_index=True, right_index=True)

lifetime_movies.head()

,link_stub,rank,title,lifetime_gross,release_year,domestic_gross,international_gross,domestic_opening_gross,runtime_minutes,rating,release_month,genres,actors
Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,"$936,662,225",2015,936662225,1131791908,247966675,138,PG-13,December,"[Action, Adventure, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."
Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,"$858,373,000",2019,858373000,1939427564,247966675,181,PG-13,April,"[Action, Adventure, Drama, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."
Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,"$760,507,625",2009,760507625,2029931467,247966675,162,PG-13,December,"[Action, Adventure, Fantasy, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."
Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,"$700,426,566",2018,700426566,647171407,247966675,134,PG-13,February,"[Action, Adventure, Sci-Fi]","[Daisy Ridley, John Boyega, Oscar Isaac, Domhn..."

In [ ]:
movies = pd.DataFrame(movies).T  #transpose
movies.columns = ['link_stub', 'title', 'rank_g_movies', 
                    'lifetime_gross', 'rank_overall', 'year']

g_movies.head()

In [ ]:
g_movies_page_info_list = []

for link in g_movies.link_stub:
    g_movies_page_info_list.append(get_movie_dict(link))

### IMDB Top 100 Actors 2018

In [ ]:
url = 'https://www.imdb.com/list/ls023242359/'
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')

In [ ]:
soup.find_all('span', class_='lister-item-index')[0].text

In [ ]:
soup.find('div', class_='lister-item-content').find_all('a')

In [ ]:
soup.find('div', class_='lister-item-content').find('a').text.split('\n')[0]

In [ ]:
top_list = soup.find('div', class_='lister-list').find_all('a')
top_list

In [ ]:
soup.find('div', class_='lister-list').find_all('a')[1].text.split('\n')[0]

In [ ]:

top_actor = []
for top in top_list:
    top = top.text.split('\n')[0]
    top_actor += [top]
  
top_actor

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver
driver = webdriver.Chrome(chromedriver)
driver.get('https://www.imdb.com/list/ls023242359/')

assert "imdb" in driver.title

continue_link = driver.find_element_by_tag_name('a')
elem = driver.find_elements_by_xpath("//*[@href]/name*")
#x = str(continue_link)
#print(continue_link)
print(elem)

In [ ]:
soup.find('div', class_='lister-list').find_all('a').get('href', ref_='nmls_hd')

In [69]:
df1 = pd.read_csv('lifetime_movies.csv')
df2 = pd.read_csv('lifetime_movies_2.csv')
df3 = pd.read_csv('lifetime_movies_3.csv')
df4 = pd.read_csv('lifetime_movies_4.csv')
df5 = pd.read_csv('lifetime_movies_5.csv')
frames = [df1, df2, df3, df4, df5]
movie_list = pd.concat(frames)

In [71]:
movie_list

,Unnamed: 0,link_stub,rank,title,domestic_gross_x,release_year,domestic_opening_gross,budget,domestic_gross_y,international_gross,worldwide_gross,runtime_minutes,rating,release_month,genres
0,Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,"$936,662,225",2015,247966675,245000000,936662225,1131791908,2068454133,138.0,PG-13,December,"['Action', 'Adventure', 'Sci-Fi']"
1,Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,"$858,373,000",2019,357115007,245000000,858373000,1939427564,2797800564,181.0,PG-13,April,"['Action', 'Adventure', 'Drama', 'Sci-Fi']"
2,Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,"$760,507,625",2009,77025481,245000000,760507625,2029931467,2790439092,162.0,PG-13,December,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
3,Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,"$700,426,566",2018,202003951,245000000,700426566,647171407,1347597973,134.0,PG-13,February,"['Action', 'Adventure', 'Sci-Fi']"
4,Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$678,815,482",2018,257698183,245000000,678815482,1369544272,2048359754,149.0,PG-13,April,"['Action', 'Adventure', 'Sci-Fi']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Footloose,/title/tt0087277/?ref_=bo_cso_table_196,996,Footloose,"$80,035,402",1984,8556935,245000000,80035402,3662,80039064,107.0,NaN,February,"['Drama', 'Music', 'Romance']"
196,Dear John,/title/tt0989757/?ref_=bo_cso_table_197,997,Dear John,"$80,014,842",2010,30468614,245000000,80014842,34969824,114984666,108.0,PG-13,February,"['Drama', 'Romance', 'War']"
197,Men in Black: International,/title/tt2283336/?ref_=bo_cso_table_198,998,Men in Black: International,"$80,001,807",2019,30035838,245000000,80001807,173888894,253890701,114.0,PG-13,June,"['Action', 'Adventure', 'Comedy', 'Sci-Fi']"
198,A Star Is Born,/title/tt0075265/?ref_=bo_cso_table_199,999,A Star Is Born,"$80,000,000",1976,0,245000000,80000000,80000000,0,139.0,NaN,December,"['Drama', 'Music', 'Romance']"
199,Knowing,/title/tt0448011/?ref_=bo_cso_table_200,"1,000",Knowing,"$79,957,634",2009,24604751,245000000,79957634,103700864,183658498,121.0,PG-13,May,"['Action', 'Drama', 'Sci-Fi', 'Thriller']"

In [39]:
dist_string = soup.find(text=distributor_reggex).findNext('span')
dist_string

AttributeError: 'NoneType' object has no attribute 'findNext'