# PROJECT - 2  WEB SCRAPING

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import dateutil.parser

### Getting  information from a movie page

In [2]:
url = 'https://www.boxofficemojo.com/title/tt2488496/?ref_=bo_cso_table_1'
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')
# soup.prettify()

#### Movie Title

In [3]:
soup.find('title').text
title_string = soup.find('title').text
title_string

'Star Wars: Episode VII - The Force Awakens - Box Office Mojo'

In [4]:
title = title_string[:-18]
title

'Star Wars: Episode VII - The Force Awakens'

#### Domestic Gross

In [5]:
soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')

[<span class="money">$936,662,225</span>,
 <span class="money">$1,131,791,908</span>,
 <span class="money">$2,068,454,133</span>]

In [6]:
dom_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[0].text
dom_gross

'$936,662,225'

#### International Gross

In [7]:
intl_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[1].text
intl_gross

'$1,131,791,908'

#### Worldwide Gross

In [8]:
world_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[2].text
world_gross

'$2,068,454,133'

#### Domestic Openig Gross

In [9]:
dom_opening_gross = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')[0]
dom_opening_gross

#### Budget

In [10]:
prod_budget = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')[1]
prod_budget

#### Domestic Distributor

In [11]:
soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')

[<span class="money">$247,966,675</span>,
 <span class="money">$245,000,000</span>]

In [12]:
distributor_reggex = re.compile('Distributor')
soup.find(text=distributor_reggex)

'Domestic Distributor'

In [13]:
distr_string = find(text=distributor_reggex).findNext('span').text

NameError: name 'find' is not defined

In [14]:
dist_string = soup.find(text=distributor_reggex).findNext('span').text[:18]
dom_dist = dist_string
dom_dist

'Walt Disney Studio'

### Get Movie (findNext) Values

In [15]:
def get_movie_value(soup, field_name):
    
    """
    Get a value fro the movie page and take the string attribute of a movie on the page and return
    the value of the next sibling object or None if nothing is found.
    
    """
    obj = soup.find(text=re.compile(field_name))
    if not obj:
        return None
    next_element = obj.findNext()
    
    if next_element:
        return next_element.text
    else:
        return None

#### Domestic Opening Gross

In [16]:
dom_opening_gross = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')[0].text
dom_opening_gross

'$247,966,675'

In [17]:
production_budget = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')[1].text
production_budget

'$245,000,000'

#### Runtime

In [18]:
runtime = get_movie_value(soup, 'Running')
print(runtime)

2 hr 18 min

#### Rating

In [19]:
rating = get_movie_value(soup, 'MPAA')
print(rating)

PG-13

#### Release Date

In [20]:
rel_date = get_movie_value(soup, 'Release Date').split('\n')[0]
print(rel_date)

December 16, 2015

In [21]:
date = dateutil.parser.parse(rel_date)
date.month

12

In [22]:
date = dateutil.parser.parse(rel_date)
date.year

2015

In [23]:
import datetime

a = '2010-01-31'

datee = datetime.datetime.strptime(a, "%Y-%m-%d")


datee.month
Out[9]: 1

datee.year
Out[10]: 2010

datee.day
Out[11]: 31

#### Genres

In [24]:
genres = get_movie_value(soup, 'Genres').split()
genres

['Action', 'Adventure', 'Sci-Fi']

#### Distributor

In [25]:
distributor = get_movie_value(soup, 'Distributor')[:35]
distributor

'Walt Disney Studios Motion Pictures'

### Function to convert money and time string into integer values

In [26]:
def money_to_int(moneystring):
    
    """
    replaces the $ sign and removing the comma separator from the money string
    returns the integer value
    """
    
    moneystring = moneystring.replace('$', '').replace(',', '')
    return int(moneystring)

def runtime_to_minutes(runtimestring):
    
    """
    takes runtimestring in _hr_min format and returns it's value in number of minutes
    """
    
    runtime = runtimestring.split()
    try:
        minutes = int(runtime[0]) * 60 + int(runtime[2])
        return minutes
    except:
        return None
    
def to_date(datestring):
    date = dateutil.parser.parse(datestring)
    return date

In [27]:
raw_dom_gross = dom_gross
domestic_gross = money_to_int(raw_dom_gross)

raw_intl_gross = intl_gross
international_gross = money_to_int(raw_intl_gross)

raw_world_gross = world_gross
worldwide_gross = money_to_int(raw_world_gross)

raw_opening_gross = dom_opening_gross
domestic_opening_gross = money_to_int(raw_opening_gross)

raw_budget = production_budget
budget = money_to_int(raw_budget)

raw_release_date = get_movie_value(soup,'Release Date').split('\n')[0]
release_date = to_date(raw_release_date)
release_date

datetime.datetime(2015, 12, 16, 0, 0)

In [28]:
raw_runtime = get_movie_value(soup, 'Running')
runtime_minutes = runtime_to_minutes(raw_runtime)
runtime_minutes

138

#### Release date

In [29]:
raw_release_date = get_movie_value(soup,'Release Date').split('\n')[0]
release_month = to_date(raw_release_date).month
release_month

12

In [30]:
release_month = rel_date.split()[0]
release_month

'December'

#### Actors

In [31]:
url = 'https://www.boxofficemojo.com/title/tt2488496/credits/?ref_=bo_tt_tab'
response = requests.get(url)
castcrew_page = response.text
castcrew_soup = BeautifulSoup(castcrew_page, 'lxml')

In [32]:
casts = castcrew_soup.find('table', id = 'principalCast').find_all('a', attrs={'class':'a-link-normal'})
actors = []
for cast in casts:
    cast = cast.text.split('\n')[0]
    actors += [cast]
actors

['Daisy Ridley', 'John Boyega', 'Oscar Isaac', 'Domhnall Gleeson']

#### Director

In [33]:
crews = castcrew_soup.find('table', id = 'principalCrew').find_all('a', attrs={'class':'a-link-normal'})[0]

In [34]:
crews.text.split('\n')[0]

'J.J. Abrams'

### Getting the domestic lifetime ranking table

In [35]:
url = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?ref_=bo_cso_ac'#change pages
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')
# print(soup.prettify())

In [36]:
# finding the table
table = soup.find('table')
# table

In [37]:
rows = [row for row in table.find_all('tr')]
rows[1].find_all('td')

[<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank">1</td>,
 <td class="a-text-left mojo-field-type-title"><a class="a-link-normal" href="/title/tt2488496/?ref_=bo_cso_table_1">Star Wars: Episode VII - The Force Awakens</a></td>,
 <td class="a-text-right mojo-field-type-money">$936,662,225</td>,
 <td class="a-text-left mojo-field-type-year"><a class="a-link-normal" href="/year/2015/?ref_=bo_cso_table_1">2015</a></td>]

In [38]:
rows[1].find_all('td')[1].find('a')['href']

'/title/tt2488496/?ref_=bo_cso_table_1'

#### Previewing Lifetime Movie Data

In [39]:
movies = {}

for row in rows[1:201]:
    items = row.find_all('td')
    link = items[1].find('a')
    title = link.text
    url = link['href']
    movies[title] = [url]+ [i.text for i in items]

movies

{'Star Wars: Episode VII - The Force Awakens': ['/title/tt2488496/?ref_=bo_cso_table_1',
  '1',
  'Star Wars: Episode VII - The Force Awakens',
  '$936,662,225',
  '2015'],
 'Avengers: Endgame': ['/title/tt4154796/?ref_=bo_cso_table_2',
  '2',
  'Avengers: Endgame',
  '$858,373,000',
  '2019'],
 'Avatar': ['/title/tt0499549/?ref_=bo_cso_table_3',
  '3',
  'Avatar',
  '$760,507,625',
  '2009'],
 'Black Panther': ['/title/tt1825683/?ref_=bo_cso_table_4',
  '4',
  'Black Panther',
  '$700,426,566',
  '2018'],
 'Avengers: Infinity War': ['/title/tt4154756/?ref_=bo_cso_table_5',
  '5',
  'Avengers: Infinity War',
  '$678,815,482',
  '2018'],
 'Titanic': ['/title/tt0120338/?ref_=bo_cso_table_6',
  '6',
  'Titanic',
  '$659,363,944',
  '1997'],
 'Jurassic World': ['/title/tt0369610/?ref_=bo_cso_table_7',
  '7',
  'Jurassic World',
  '$652,340,625',
  '2015'],
 'The Avengers': ['/title/tt0848228/?ref_=bo_cso_table_8',
  '8',
  'The Avengers',
  '$623,357,910',
  '2012'],
 'Star Wars: Episode VIII - The Last Jedi': ['/title/tt2527336/?ref_=bo_cso_table_9',
  '9',
  'Star Wars: Episode VIII - The Last Jedi',
  '$620,181,382',
  '2017'],
 'Incredibles 2': ['/title/tt3606756/?ref_=bo_cso_table_10',
  '10',
  'Incredibles 2',
  '$608,581,744',
  '2018'],
 'The Lion King': ['/title/tt0110357/?ref_=bo_cso_table_28',
  '28',
  'The Lion King',
  '$422,783,777',
  '1994'],
 'The Dark Knight': ['/title/tt0468569/?ref_=bo_cso_table_12',
  '12',
  'The Dark Knight',
  '$534,858,444',
  '2008'],
 'Rogue One: A Star Wars Story': ['/title/tt3748528/?ref_=bo_cso_table_13',
  '13',
  'Rogue One: A Star Wars Story',
  '$532,177,324',
  '2016'],
 'Star Wars: Episode IX - The Rise of Skywalker': ['/title/tt2527338/?ref_=bo_cso_table_14',
  '14',
  'Star Wars: Episode IX - The Rise of Skywalker',
  '$515,202,542',
  '2019'],
 'Beauty and the Beast': ['/title/tt0101414/?ref_=bo_cso_table_172',
  '172',
  'Beauty and the Beast',
  '$218,967,620',
  '1991'],
 'Finding Dory': ['/title/tt2277860/?ref_=bo_cso_table_16',
  '16',
  'Finding Dory',
  '$486,295,561',
  '2016'],
 'Frozen II': ['/title/tt4520988/?ref_=bo_cso_table_17',
  '17',
  'Frozen II',
  '$477,373,578',
  '2019'],
 'Star Wars: Episode I - The Phantom Menace': ['/title/tt0120915/?ref_=bo_cso_table_18',
  '18',
  'Star Wars: Episode I - The Phantom Menace',
  '$474,544,677',
  '1999'],
 'Star Wars: Episode IV - A New Hope': ['/title/tt0076759/?ref_=bo_cso_table_19',
  '19',
  'Star Wars: Episode IV - A New Hope',
  '$460,998,507',
  '1977'],
 'Avengers: Age of Ultron': ['/title/tt2395427/?ref_=bo_cso_table_20',
  '20',
  'Avengers: Age of Ultron',
  '$459,005,868',
  '2015'],
 'The Dark Knight Rises': ['/title/tt1345836/?ref_=bo_cso_table_21',
  '21',
  'The Dark Knight Rises',
  '$448,139,099',
  '2012'],
 'Shrek 2': ['/title/tt0298148/?ref_=bo_cso_table_22',
  '22',
  'Shrek 2',
  '$441,226,247',
  '2004'],
 'E.T. the Extra-Terrestrial': ['/title/tt0083866/?ref_=bo_cso_table_23',
  '23',
  'E.T. the Extra-Terrestrial',
  '$435,110,554',
  '1982'],
 'Toy Story 4': ['/title/tt1979376/?ref_=bo_cso_table_24',
  '24',
  'Toy Story 4',
  '$434,038,008',
  '2019'],
 'Captain Marvel': ['/title/tt4154664/?ref_=bo_cso_table_25',
  '25',
  'Captain Marvel',
  '$426,829,839',
  '2019'],
 'The Hunger Games: Catching Fire': ['/title/tt1951264/?ref_=bo_cso_table_26',
  '26',
  'The Hunger Games: Catching Fire',
  '$424,668,047',
  '2013'],
 "Pirates of the Caribbean: Dead Man's Chest": ['/title/tt0383574/?ref_=bo_cso_table_27',
  '27',
  "Pirates of the Caribbean: Dead Man's Chest",
  '$423,315,812',
  '2006'],
 'Jurassic World: Fallen Kingdom': ['/title/tt4881806/?ref_=bo_cso_table_29',
  '29',
  'Jurassic World: Fallen Kingdom',
  '$417,719,760',
  '2018'],
 'Toy Story 3': ['/title/tt0435761/?ref_=bo_cso_table_30',
  '30',
  'Toy Story 3',
  '$415,004,880',
  '2010'],
 'Wonder Woman': ['/title/tt0451279/?ref_=bo_cso_table_31',
  '31',
  'Wonder Woman',
  '$412,815,408',
  '2017'],
 'Iron Man 3': ['/title/tt1300854/?ref_=bo_cso_table_32',
  '32',
  'Iron Man 3',
  '$409,013,994',
  '2013'],
 'Captain America: Civil War': ['/title/tt3498820/?ref_=bo_cso_table_33',
  '33',
  'Captain America: Civil War',
  '$408,084,349',
  '2016'],
 'The Hunger Games': ['/title/tt1392170/?ref_=bo_cso_table_34',
  '34',
  'The Hunger Games',
  '$408,010,692',
  '2012'],
 'Spider-Man': ['/title/tt0145487/?ref_=bo_cso_table_35',
  '35',
  'Spider-Man',
  '$407,022,860',
  '2002'],
 'Jumanji: Welcome to the Jungle': ['/title/tt2283362/?ref_=bo_cso_table_36',
  '36',
  'Jumanji: Welcome to the Jungle',
  '$404,540,171',
  '2017'],
 'Jurassic Park': ['/title/tt0107290/?ref_=bo_cso_table_37',
  '37',
  'Jurassic Park',
  '$404,214,720',
  '1993'],
 'Transformers: Revenge of the Fallen': ['/title/tt1055369/?ref_=bo_cso_table_38',
  '38',
  'Transformers: Revenge of the Fallen',
  '$402,111,870',
  '2009'],
 'Frozen': ['/title/tt2294629/?ref_=bo_cso_table_39',
  '39',
  'Frozen',
  '$400,953,009',
  '2013'],
 'Spider-Man: Far from Home': ['/title/tt6320628/?ref_=bo_cso_table_40',
  '40',
  'Spider-Man: Far from Home',
  '$390,532,085',
  '2019'],
 'Guardians of the Galaxy Vol. 2': ['/title/tt3896198/?ref_=bo_cso_table_41',
  '41',
  'Guardians of the Galaxy Vol. 2',
  '$389,813,101',
  '2017'],
 'Harry Potter and the Deathly Hallows: Part 2': ['/title/tt1201607/?ref_=bo_cso_table_42',
  '42',
  'Harry Potter and the Deathly Hallows: Part 2',
  '$381,409,310',
  '2011'],
 'Finding Nemo': ['/title/tt0266543/?ref_=bo_cso_table_43',
  '43',
  'Finding Nemo',
  '$380,843,261',
  '2003'],
 'Star Wars: Episode III - Revenge of the Sith': ['/title/tt0121766/?ref_=bo_cso_table_44',
  '44',
  'Star Wars: Episode III - Revenge of the Sith',
  '$380,270,577',
  '2005'],
 'The Lord of the Rings: The Return of the King': ['/title/tt0167260/?ref_=bo_cso_table_45',
  '45',
  'The Lord of the Rings: The Return of the King',
  '$377,845,905',
  '2003'],
 'Spider-Man 2': ['/title/tt0316654/?ref_=bo_cso_table_46',
  '46',
  'Spider-Man 2',
  '$373,585,825',
  '2004'],
 'The Passion of the Christ': ['/title/tt0335345/?ref_=bo_cso_table_47',
  '47',
  'The Passion of the Christ',
  '$370,782,930',
  '2004'],
 'The Secret Life of Pets': ['/title/tt2709768/?ref_=bo_cso_table_48',
  '48',
  'The Secret Life of Pets',
  '$368,384,330',
  '2016'],
 'Despicable Me 2': ['/title/tt1690953/?ref_=bo_cso_table_49',
  '49',
  'Despicable Me 2',
  '$368,065,385',
  '2013'],
 'The Jungle Book': ['/title/tt3040964/?ref_=bo_cso_table_50',
  '50',
  'The Jungle Book',
  '$364,001,123',
  '2016'],
 'Deadpool': ['/title/tt1431045/?ref_=bo_cso_table_51',
  '51',
  'Deadpool',
  '$363,070,709',
  '2016'],
 'Inside Out': ['/title/tt2096673/?ref_=bo_cso_table_52',
  '52',
  'Inside Out',
  '$356,921,711',
  '2015'],
 'Aladdin': ['/title/tt0103639/?ref_=bo_cso_table_178',
  '178',
  'Aladdin',
  '$217,350,219',
  '1992'],
 'Furious 7': ['/title/tt2820852/?ref_=bo_cso_table_54',
  '54',
  'Furious 7',
  '$353,007,020',
  '2015'],
 'Transformers: Dark of the Moon': ['/title/tt1399103/?ref_=bo_cso_table_55',
  '55',
  'Transformers: Dark of the Moon',
  '$352,390,543',
  '2011'],
 'American Sniper': ['/title/tt2179136/?ref_=bo_cso_table_56',
  '56',
  'American Sniper',
  '$350,126,372',
  '2014'],
 'The Lord of the Rings: The Two Towers': ['/title/tt0167261/?ref_=bo_cso_table_57',
  '57',
  'The Lord of the Rings: The Two Towers',
  '$342,551,365',
  '2002'],
 'Zootopia': ['/title/tt2948356/?ref_=bo_cso_table_58',
  '58',
  'Zootopia',
  '$341,268,248',
  '2016'],
 'The Hunger Games: Mockingjay - Part 1': ['/title/tt1951265/?ref_=bo_cso_table_59',
  '59',
  'The Hunger Games: Mockingjay - Part 1',
  '$337,135,885',
  '2014'],
 'Spider-Man 3': ['/title/tt0413300/?ref_=bo_cso_table_60',
  '60',
  'Spider-Man 3',
  '$336,530,303',
  '2007'],
 'Minions': ['/title/tt2293640/?ref_=bo_cso_table_61',
  '61',
  'Minions',
  '$336,045,770',
  '2015'],
 'Joker': ['/title/tt7286456/?ref_=bo_cso_table_62',
  '62',
  'Joker',
  '$335,451,311',
  '2019'],
 'Aquaman': ['/title/tt1477834/?ref_=bo_cso_table_63',
  '63',
  'Aquaman',
  '$335,061,807',
  '2018'],
 'Spider-Man: Homecoming': ['/title/tt2250912/?ref_=bo_cso_table_64',
  '64',
  'Spider-Man: Homecoming',
  '$334,201,140',
  '2017'],
 'Alice in Wonderland': ['/title/tt1014759/?ref_=bo_cso_table_65',
  '65',
  'Alice in Wonderland',
  '$334,191,110',
  '2010'],
 'Guardians of the Galaxy': ['/title/tt2015381/?ref_=bo_cso_table_66',
  '66',
  'Guardians of the Galaxy',
  '$333,718,600',
  '2014'],
 'Forrest Gump': ['/title/tt0109830/?ref_=bo_cso_table_67',
  '67',
  'Forrest Gump',
  '$330,455,270',
  '1994'],
 'Batman v Superman: Dawn of Justice': ['/title/tt2975590/?ref_=bo_cso_table_68',
  '68',
  'Batman v Superman: Dawn of Justice',
  '$330,360,194',
  '2016'],
 'It': ['/title/tt1396484/?ref_=bo_cso_table_69',
  '69',
  'It',
  '$328,828,874',
  '2017'],
 'Suicide Squad': ['/title/tt1386697/?ref_=bo_cso_table_70',
  '70',
  'Suicide Squad',
  '$325,100,054',
  '2016'],
 'Deadpool 2': ['/title/tt5463162/?ref_=bo_cso_table_71',
  '71',
  'Deadpool 2',
  '$324,591,735',
  '2018'],
 'Shrek the Third': ['/title/tt0413267/?ref_=bo_cso_table_72',
  '72',
  'Shrek the Third',
  '$322,719,944',
  '2007'],
 'Jumanji: The Next Level': ['/title/tt7975244/?ref_=bo_cso_table_73',
  '73',
  'Jumanji: The Next Level',
  '$320,314,960',
  '2019'],
 'Transformers': ['/title/tt0418279/?ref_=bo_cso_table_74',
  '74',
  'Transformers',
  '$319,246,193',
  '2007'],
 'Iron Man': ['/title/tt0371746/?ref_=bo_cso_table_75',
  '75',
  'Iron Man',
  '$319,034,126',
  '2008'],
 "Harry Potter and the Sorcerer's Stone": ['/title/tt0241527/?ref_=bo_cso_table_76',
  '76',
  "Harry Potter and the Sorcerer's Stone",
  '$318,087,620',
  '2001'],
 'Indiana Jones and the Kingdom of the Crystal Skull': ['/title/tt0367882/?ref_=bo_cso_table_77',
  '77',
  'Indiana Jones and the Kingdom of the Crystal Skull',
  '$317,101,119',
  '2008'],
 'The Lord of the Rings: The Fellowship of the Ring': ['/title/tt0120737/?ref_=bo_cso_table_78',
  '78',
  'The Lord of the Rings: The Fellowship of the Ring',
  '$315,544,750',
  '2001'],
 'Thor: Ragnarok': ['/title/tt3501632/?ref_=bo_cso_table_79',
  '79',
  'Thor: Ragnarok',
  '$315,058,289',
  '2017'],
 'Iron Man 2': ['/title/tt1228705/?ref_=bo_cso_table_80',
  '80',
  'Iron Man 2',
  '$312,433,331',
  '2010'],
 'Star Wars: Episode II - Attack of the Clones': ['/title/tt0121765/?ref_=bo_cso_table_81',
  '81',
  'Star Wars: Episode II - Attack of the Clones',
  '$310,676,740',
  '2002'],
 "Pirates of the Caribbean: At World's End": ['/title/tt0449088/?ref_=bo_cso_table_82',
  '82',
  "Pirates of the Caribbean: At World's End",
  '$309,420,425',
  '2007'],
 'Star Wars: Episode VI - Return of the Jedi': ['/title/tt0086190/?ref_=bo_cso_table_83',
  '83',
  'Star Wars: Episode VI - Return of the Jedi',
  '$309,306,177',
  '1983'],
 'Independence Day': ['/title/tt0116629/?ref_=bo_cso_table_84',
  '84',
  'Independence Day',
  '$306,169,268',
  '1996'],
 'Pirates of the Caribbean: The Curse of the Black Pearl': ['/title/tt0325980/?ref_=bo_cso_table_85',
  '85',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  '$305,413,918',
  '2003'],
 'Skyfall': ['/title/tt1074638/?ref_=bo_cso_table_86',
  '86',
  'Skyfall',
  '$304,360,277',
  '2012'],
 'The Hobbit: An Unexpected Journey': ['/title/tt0903624/?ref_=bo_cso_table_87',
  '87',
  'The Hobbit: An Unexpected Journey',
  '$303,003,568',
  '2012'],
 'Harry Potter and the Half-Blood Prince': ['/title/tt0417741/?ref_=bo_cso_table_88',
  '88',
  'Harry Potter and the Half-Blood Prince',
  '$302,305,431',
  '2009'],
 'The Twilight Saga: Eclipse': ['/title/tt1325004/?ref_=bo_cso_table_89',
  '89',
  'The Twilight Saga: Eclipse',
  '$300,531,751',
  '2010'],
 'The Twilight Saga: New Moon': ['/title/tt1259571/?ref_=bo_cso_table_90',
  '90',
  'The Twilight Saga: New Moon',
  '$297,816,253',
  '2009'],
 'Harry Potter and the Deathly Hallows: Part 1': ['/title/tt0926084/?ref_=bo_cso_table_91',
  '91',
  'Harry Potter and the Deathly Hallows: Part 1',
  '$296,347,721',
  '2010'],
 'The Sixth Sense': ['/title/tt0167404/?ref_=bo_cso_table_92',
  '92',
  'The Sixth Sense',
  '$293,506,292',
  '1999'],
 'Up': ['/title/tt1049413/?ref_=bo_cso_table_93',
  '93',
  'Up',
  '$293,004,164',
  '2009'],
 'Star Wars: Episode V - The Empire Strikes Back': ['/title/tt0080684/?ref_=bo_cso_table_94',
  '94',
  'Star Wars: Episode V - The Empire Strikes Back',
  '$292,753,960',
  '1980'],
 'Inception': ['/title/tt1375666/?ref_=bo_cso_table_95',
  '95',
  'Inception',
  '$292,576,195',
  '2010'],
 'Harry Potter and the Order of the Phoenix': ['/title/tt0373889/?ref_=bo_cso_table_96',
  '96',
  'Harry Potter and the Order of the Phoenix',
  '$292,353,413',
  '2007'],
 'The Twilight Saga: Breaking Dawn - Part 2': ['/title/tt1673434/?ref_=bo_cso_table_97',
  '97',
  'The Twilight Saga: Breaking Dawn - Part 2',
  '$292,324,737',
  '2012'],
 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe': ['/title/tt0363771/?ref_=bo_cso_table_98',
  '98',
  'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
  '$291,710,957',
  '2005'],
 'Man of Steel': ['/title/tt0770828/?ref_=bo_cso_table_99',
  '99',
  'Man of Steel',
  '$291,045,518',
  '2013'],
 'Monsters, Inc.': ['/title/tt0198781/?ref_=bo_cso_table_100',
  '100',
  'Monsters, Inc.',
  '$290,642,256',
  '2001'],
 'Harry Potter and the Goblet of Fire': ['/title/tt0330373/?ref_=bo_cso_table_101',
  '101',
  'Harry Potter and the Goblet of Fire',
  '$290,417,905',
  '2005'],
 'Home Alone': ['/title/tt0099785/?ref_=bo_cso_table_102',
  '102',
  'Home Alone',
  '$285,761,243',
  '1990'],
 'The Hunger Games: Mockingjay - Part 2': ['/title/tt1951266/?ref_=bo_cso_table_103',
  '103',
  'The Hunger Games: Mockingjay - Part 2',
  '$281,723,902',
  '2015'],
 'The Matrix Reloaded': ['/title/tt0234215/?ref_=bo_cso_table_104',
  '104',
  'The Matrix Reloaded',
  '$281,576,461',
  '2003'],
 'The Twilight Saga: Breaking Dawn - Part 1': ['/title/tt1324999/?ref_=bo_cso_table_105',
  '105',
  'The Twilight Saga: Breaking Dawn - Part 1',
  '$281,287,133',
  '2011'],
 'Meet the Fockers': ['/title/tt0290002/?ref_=bo_cso_table_106',
  '106',
  'Meet the Fockers',
  '$279,261,160',
  '2004'],
 'The Hangover': ['/title/tt1119646/?ref_=bo_cso_table_107',
  '107',
  'The Hangover',
  '$277,322,503',
  '2009'],
 'Gravity': ['/title/tt1454468/?ref_=bo_cso_table_108',
  '108',
  'Gravity',
  '$274,092,705',
  '2013'],
 'The Grinch': ['/title/tt2709692/?ref_=bo_cso_table_109',
  '109',
  'The Grinch',
  '$271,073,731',
  '2018'],
 'Sing': ['/title/tt3470600/?ref_=bo_cso_table_110',
  '110',
  'Sing',
  '$270,448,425',
  '2016'],
 'Monsters University': ['/title/tt1453405/?ref_=bo_cso_table_111',
  '111',
  'Monsters University',
  '$268,492,764',
  '2013'],
 'Shrek': ['/title/tt0126029/?ref_=bo_cso_table_112',
  '112',
  'Shrek',
  '$267,665,011',
  '2001'],
 'Despicable Me 3': ['/title/tt3469046/?ref_=bo_cso_table_113',
  '113',
  'Despicable Me 3',
  '$264,624,300',
  '2017'],
 'Harry Potter and the Chamber of Secrets': ['/title/tt0295297/?ref_=bo_cso_table_114',
  '114',
  'Harry Potter and the Chamber of Secrets',
  '$262,450,136',
  '2002'],
 'The Amazing Spider-Man': ['/title/tt0948470/?ref_=bo_cso_table_115',
  '115',
  'The Amazing Spider-Man',
  '$262,030,663',
  '2012'],
 'The Incredibles': ['/title/tt0317705/?ref_=bo_cso_table_116',
  '116',
  'The Incredibles',
  '$261,441,092',
  '2004'],
 'Jaws': ['/title/tt0073195/?ref_=bo_cso_table_117',
  '117',
  'Jaws',
  '$260,758,300',
  '1975'],
 'How the Grinch Stole Christmas': ['/title/tt0170016/?ref_=bo_cso_table_118',
  '118',
  'How the Grinch Stole Christmas',
  '$260,465,005',
  '2000'],
 'Captain America: The Winter Soldier': ['/title/tt1843866/?ref_=bo_cso_table_119',
  '119',
  'Captain America: The Winter Soldier',
  '$259,766,572',
  '2014'],
 'The Hobbit: The Desolation of Smaug': ['/title/tt1170358/?ref_=bo_cso_table_120',
  '120',
  'The Hobbit: The Desolation of Smaug',
  '$258,366,855',
  '2013'],
 'The Lego Movie': ['/title/tt1490017/?ref_=bo_cso_table_121',
  '121',
  'The Lego Movie',
  '$257,760,692',
  '2014'],
 'Star Trek': ['/title/tt0796366/?ref_=bo_cso_table_122',
  '122',
  'Star Trek',
  '$257,730,019',
  '2009'],
 'I Am Legend': ['/title/tt0480249/?ref_=bo_cso_table_123',
  '123',
  'I Am Legend',
  '$256,393,010',
  '2007'],
 'The Blind Side': ['/title/tt0878804/?ref_=bo_cso_table_124',
  '124',
  'The Blind Side',
  '$255,959,475',
  '2009'],
 'The Hobbit: The Battle of the Five Armies': ['/title/tt2310332/?ref_=bo_cso_table_125',
  '125',
  'The Hobbit: The Battle of the Five Armies',
  '$255,119,788',
  '2014'],
 'The Hangover Part II': ['/title/tt1411697/?ref_=bo_cso_table_126',
  '126',
  'The Hangover Part II',
  '$254,464,305',
  '2011'],
 'Despicable Me': ['/title/tt1323594/?ref_=bo_cso_table_127',
  '127',
  'Despicable Me',
  '$251,513,985',
  '2010'],
 'Batman': ['/title/tt0096895/?ref_=bo_cso_table_128',
  '128',
  'Batman',
  '$251,348,343',
  '1989'],
 'Night at the Museum': ['/title/tt0477347/?ref_=bo_cso_table_129',
  '129',
  'Night at the Museum',
  '$250,863,268',
  '2006'],
 'Men in Black': ['/title/tt0119654/?ref_=bo_cso_table_130',
  '130',
  'Men in Black',
  '$250,690,539',
  '1997'],
 'Harry Potter and the Prisoner of Azkaban': ['/title/tt0304141/?ref_=bo_cso_table_131',
  '131',
  'Harry Potter and the Prisoner of Azkaban',
  '$249,975,996',
  '2004'],
 'Moana': ['/title/tt3521164/?ref_=bo_cso_table_132',
  '132',
  'Moana',
  '$248,757,044',
  '2016'],
 'Indiana Jones and the Raiders of the Lost Ark': ['/title/tt0082971/?ref_=bo_cso_table_133',
  '133',
  'Indiana Jones and the Raiders of the Lost Ark',
  '$248,159,971',
  '1981'],
 'Toy Story 2': ['/title/tt0120363/?ref_=bo_cso_table_134',
  '134',
  'Toy Story 2',
  '$245,852,179',
  '1999'],
 'Transformers: Age of Extinction': ['/title/tt2109248/?ref_=bo_cso_table_135',
  '135',
  'Transformers: Age of Extinction',
  '$245,439,076',
  '2014'],
 'Cars': ['/title/tt0317219/?ref_=bo_cso_table_136',
  '136',
  'Cars',
  '$244,082,982',
  '2006'],
 'Ghostbusters': ['/title/tt0087332/?ref_=bo_cso_table_137',
  '137',
  'Ghostbusters',
  '$243,187,079',
  '1984'],
 'Bruce Almighty': ['/title/tt0315327/?ref_=bo_cso_table_138',
  '138',
  'Bruce Almighty',
  '$242,829,261',
  '2003'],
 'Twister': ['/title/tt0117998/?ref_=bo_cso_table_139',
  '139',
  'Twister',
  '$241,721,524',
  '1996'],
 'My Big Fat Greek Wedding': ['/title/tt0259446/?ref_=bo_cso_table_140',
  '140',
  'My Big Fat Greek Wedding',
  '$241,438,208',
  '2002'],
 'Maleficent': ['/title/tt1587310/?ref_=bo_cso_table_141',
  '141',
  'Maleficent',
  '$241,410,378',
  '2014'],
 'Pirates of the Caribbean: On Stranger Tides': ['/title/tt1298650/?ref_=bo_cso_table_142',
  '142',
  'Pirates of the Caribbean: On Stranger Tides',
  '$241,071,802',
  '2011'],
 'Shrek Forever After': ['/title/tt0892791/?ref_=bo_cso_table_143',
  '143',
  'Shrek Forever After',
  '$238,736,787',
  '2010'],
 'Fast & Furious 6': ['/title/tt1905041/?ref_=bo_cso_table_144',
  '144',
  'Fast & Furious 6',
  '$238,679,850',
  '2013'],
 'Brave': ['/title/tt1217209/?ref_=bo_cso_table_145',
  '145',
  'Brave',
  '$237,283,207',
  '2012'],
 'Oz the Great and Powerful': ['/title/tt1623205/?ref_=bo_cso_table_146',
  '146',
  'Oz the Great and Powerful',
  '$234,911,825',
  '2013'],
 'Beverly Hills Cop': ['/title/tt0086960/?ref_=bo_cso_table_147',
  '147',
  'Beverly Hills Cop',
  '$234,760,478',
  '1984'],
 'X-Men: The Last Stand': ['/title/tt0376994/?ref_=bo_cso_table_148',
  '148',
  'X-Men: The Last Stand',
  '$234,362,462',
  '2006'],
 'War of the Worlds': ['/title/tt0407304/?ref_=bo_cso_table_149',
  '149',
  'War of the Worlds',
  '$234,280,354',
  '2005'],
 'Fantastic Beasts and Where to Find Them': ['/title/tt3183660/?ref_=bo_cso_table_150',
  '150',

In [40]:
lifetime_movies = pd.DataFrame(movies).T
lifetime_movies.columns = ['link_stub', 'rank', 'title', 'domestic_gross','release_year']
lifetime_movies

,link_stub,rank,title,domestic_gross,release_year
Star Wars: Episode VII - The Force Awakens,/title/tt2488496/?ref_=bo_cso_table_1,1,Star Wars: Episode VII - The Force Awakens,"$936,662,225",2015
Avengers: Endgame,/title/tt4154796/?ref_=bo_cso_table_2,2,Avengers: Endgame,"$858,373,000",2019
Avatar,/title/tt0499549/?ref_=bo_cso_table_3,3,Avatar,"$760,507,625",2009
Black Panther,/title/tt1825683/?ref_=bo_cso_table_4,4,Black Panther,"$700,426,566",2018
Avengers: Infinity War,/title/tt4154756/?ref_=bo_cso_table_5,5,Avengers: Infinity War,"$678,815,482",2018
...,...,...,...,...,...
Fast Five,/title/tt1596343/?ref_=bo_cso_table_196,196,Fast Five,"$209,837,675",2011
Mission: Impossible - Ghost Protocol,/title/tt1229238/?ref_=bo_cso_table_197,197,Mission: Impossible - Ghost Protocol,"$209,397,903",2011
Wedding Crashers,/title/tt0396269/?ref_=bo_cso_table_198,198,Wedding Crashers,"$209,255,921",2005
Sherlock Holmes,/title/tt0988045/?ref_=bo_cso_table_199,199,Sherlock Holmes,"$209,028,679",2009
Dawn of the Planet of the Apes,/title/tt2103281/?ref_=bo_cso_table_200,200,Dawn of the Planet of the Apes,"$208,545,589",2014

#### Storing movie page data into a dictionary

In [42]:
def get_movie_dict(link):
    
    """
    From BoxOfficeMojo link stub, request movie html, parse with BeautifulSoup, and
    collect 
        - title 
        - domestic gross
        - runtime 
        - MPAA rating
        - full release date
    Return information as a dictionary
    
    """
    
    base_url = 'https://www.boxofficemojo.com'
    
    #Create full url to scrape
    url = base_url + link
    
    #Request HTML and parse
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    headers = ['title', 'domestic_opening_gross', 'budget', 'domestic_gross', 'international_gross', 
               'worldwide_gross','runtime_minutes', 'rating', 'release_month', 'release_date','genres']
    
    #Get title
    title_string = soup.find('title').text
    title = title_string[:-18]
    

    #Get domestic gross
    raw_dom_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[0].text
    domestic_gross = money_to_int(raw_dom_gross)
    
    #dom_gross = money_to_int(dom_gross)
    
    #Get international_gross   
    try:
        raw_intl_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[1].text
        international_gross = money_to_int(raw_intl_gross)
    except:
        international_gross = 0
    
    #Get worldwide gross
    try:
        raw_world_gross = soup.find(class_='mojo-performance-summary-table').find_all('span',class_='money')[2].text
        worldwide_gross = money_to_int(raw_world_gross)
    except:
        worldwide_gross = 0
    
    #Get domestic opening gross
    try:
        raw_opening_gross = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')[0].text
        domestic_opening_gross = money_to_int(raw_opening_gross)
    except:
        domestic_opening_gross = 0
    
    
    #Get budget
    try:
        raw_budget = soup.find(class_='mojo-summary-values').find_all('span', class_ = 'money')[1].text
        budget = money_to_int(raw_budget)
    except:
        budget = 0
    
    #Get distributor
    try:
        distributor = get_movie_value(soup, 'Distributor')[:18]
    except:
        distributor = ''
    
    #Get runtime
    raw_runtime = get_movie_value(soup, 'Running')
    runtime_minutes = runtime_to_minutes(raw_runtime)
    
    #Get rating
    rating = get_movie_value(soup, 'MPAA')
    
    #Get genres
    genres = get_movie_value(soup, 'Genres').split()

    
    #Get release month
    raw_release_date = get_movie_value(soup,'Release Date').split('\n')[0]
    release_month = to_date(raw_release_date).month
   
    #Get release date
    raw_release_date = get_movie_value(soup,'Release Date').split('\n')[0]
    release_date = to_date(raw_release_date)
    
    
    #Create movie dictionary and return
    movie_dict = dict(zip(headers, [title,
                                    domestic_opening_gross,
                                    budget,
                                    domestic_gross,
                                    international_gross,
                                    worldwide_gross,
                                    runtime_minutes,
                                    rating,
                                    release_month,
                                    release_date,
                                    genres]))

    return movie_dict

In [ ]:
lifetime_movie_data = []
for link in lifetime_movies.link_stub:
    lifetime_movie_data.append(get_movie_dict(link))

In [ ]:
lifetime_movie_data

In [ ]:
lifetime_movies_info = pd.DataFrame(lifetime_movie_data)
lifetime_movies_info.set_index('title', inplace = True)

In [ ]:
lifetime_movies_info.info()

In [ ]:
# un comment the following and change number according to page
#lifetime_movies_info_5 = lifetime_movies_info
#lifetime_movies_5 = lifetime_movies
#lifetime_movies_5 = lifetime_movies_5.merge(lifetime_movies_info_5, left_index=True, right_index = True)
#lifetime_movies_5.head()

In [ ]:
lifetime_movies = lifetime_movies.merge(lifetime_movies_info, left_index=True, right_index=True)

lifetime_movies.head()

In [ ]:
lifetime_movies.info()

In [ ]:
# un comment the following and change with the page change
#lifetime_movies.to_csv('lifetime_movies.csv')

In [ ]:
#df1 = pd.read_csv('lifetime_movies.csv')
#df2 = pd.read_csv('lifetime_movies_2.csv')
#df3 = pd.read_csv('lifetime_movies_3.csv')
#df4 = pd.read_csv('lifetime_movies_4.csv')
#df5 = pd.read_csv('lifetime_movies_5.csv')
#frames = [df1, df2, df3, df4, df5]
#mojo_data = pd.concat(frames)
#mojo_data.to_csv('mojo_data.csv')

#df = pd.read_csv('movie_list.csv')
#df = pd.read_csv('mojo_data.csv', index_col = [0])
#df.info()

In [ ]:
#mojo_data.info()